<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Primo New UI</Name>
  <Author>Bill Jones</Author>
  <Version>1.1</Version>
  <Active>True</Active>
  <Type>Addon</Type>
  <Description>Performs an Title, ISBN, and ISSN Search in the Primo New UI interface.</Description>
  <Forms>
    <Form>FormRequest</Form>
  </Forms>
  <Settings>
    <Setting name="GoToLandingPage" value="" type="boolean">
      <Description>Defines whether you would like the Addon to go directly to the PrimoURL start page set in your config.</Description>
    </Setting>
    <Setting name="AutoSearchISxN" value="true" type="boolean">
      <Description>Defines whether the ISxN search should be automatically performed when the form opens.</Description>
    </Setting>
    <Setting name="AutoSearchTitle" value="" type="boolean">
      <Description>Defines whether the Title search should be automatically performed when the form opens.</Description>
    </Setting>
    <Setting name="EnableTopBar" value="" type="boolean">
      <Description>Defines whether the top section should display request info above the browser.</Description>
    </Setting>
    <Setting name="PrimoURL" value="https://search.library.oregonstate.edu/primo-explore/search?vid=OSU&amp;sortby=rank" type="string">
      <Description>Defines the default landing page for your Primo New UI page  See the ReadMe for an example.</Description>
    </Setting>
	<Setting name="BaseURL" value="https://search.library.oregonstate.edu" type="string">
      <Description>Defines the base of your Primo URL. See the ReadMe for an example.</Description>
    </Setting>
    <Setting name="DatabaseName" value="OSU" type="string">
      <Description>Defines the Database Name of your Primo URL. See the ReadMe for an example.</Description>
    </Setting>
  </Settings>
  <Files>
    <File>PrimoNewUI.lua</File>
  </Files>
</Configuration>